<div id="alert">
	<div>
		<span>Su mensaje fue enviado, pronto nos pondremos en contacto con usted.</span>
		<span>Debido a un error no pudimos enviar el mensaje, por favor intente de nuevo más tarde.</span>
		<span>Ok</span>
	</div>
</div>
<div id="header" class="animate">
	<div class="cover"></div>
	<div class="content">
		<a href="#" class="imoxLogo animate">
			<img class="animate" src="images/logo.png" />
			<h1 class="animate">IMOX</h1>
			<h4 class="animate">INDUSTRIAL MOTOR EXPERTS</h4>
		</a>
		<div class="menu">
			<a class="animate" href="#company">Compañia</a>
			<a class="animate" href="#services">Servicios</a>
			<a class="animate" href="#contact">Contacto</a>
		</div>
	</div>
</div>
<div id="content"></div>
<div id="footer">
	<div class="contact group">
		<div>
			<h4>VISÍTENOS</h4>
			<span>Km 3.5 Autop Medellín, Centro Empresarial Metropolitano, Módulo 3, Bodega 11</span>
			<span>Cota, Colombia</span>
		</div>
		<div>
			<h4>PONGASE EN CONTACTO</h4>
			<span>(+57) 1 869 6600</span>
			<span>servicio@sumitractor.com</span>
		</div>
	</div>
	<p>Copyright Industrial Motor Experts, 2015</p>
</div>