<div id="company">
	<div class="title">
		<div class="cover"></div>
		<div class="text">
			<h1>QUIÉNES SOMOS</h1>
		</div>
	</div>
	<div class="intro">
		<p><strong>INDUSTRIAL MOTOR EXPERTS</strong>, es una compañía colombiana dedicada a la prestación de servicios de mantenimiento, reparación y reacondicionamiento de motores diesel, creada en el año <strong>1974</strong> como SUMITRACTOR y que centra todos sus esfuerzos en brindar soluciones integrales e innovadoras a sus clientes, con una gran vocación por el servicio.</p>
		<div class="separator"></div>
		<div class="iso">
			<p>Realizamos trabajos tanto en el Área de Taller como en campo y contamos con personal altamente calificado para la prestación del servicio. Actualmente, contamos con la certificación en la <strong>Norma ISO 9001 Versión 2008</strong>.</p>
			<img src="images/iso.png"/>
		</div>
	</div>
	<div class="stuff group">
		<div>
			<div>
				<h4>VISIÓN</h4>
				<p>Para el año 2016 IMOX, estará posicionado como especialista en el mantenimiento técnico y reparación de motores diésel, siendo los líderes del mercado y con sedes en diferentes zonas del país, por medio del mejoramiento y ampliación de la infraestructura y especializando a nuestro personal en cada uno de los procesos.</p>
			</div>
			<div>
				<h4>MISIÓN</h4>
				<p>Somos una compañiá <strong>Colombiana</strong> dedicada a suministrar soluciones integrales e innovadoras a nuestros clientes para el mantenimiento técnico y reacondicionamiento de sus motores diésel, alineados con los estándares mundiales de calidad, seguridad y profesionalismo del servicio.</p>
			</div>
		</div>
	</div>
	<div class="pilars">
		<div class="group">
			<h4>NUESTROS PILARES Y VALORES</h4>
			<div>
				<span>Exigencia<i class="fa fa-check-circle-o"></i></span>
				<p>Queremos un trabajo bien hecho, sin reprocesos, muy claro en los presupuestos y cotizaciones, y valioso en las soluciones ofrecidas.</p>
			</div>
			<div>
				<span>Compromiso<i class="fa fa-check-circle-o"></i></span>
				<p>Somos consientes de que nuestro trabajo es muy importante para nuestros clientes, por esto nos comprometemos a realizar nuestro trabajo en tiempo y forma.</p>
			</div>
			<div>
				<span>Agilidad<i class="fa fa-check-circle-o"></i></span>
				<p>Sabemos que las compañías necesitan abordar sus problemas con extremada diligencia y requieren respuestas inmediatas muy alejadas de procesos burocráticos que retardan las tomas de decisiones.</p>
			</div>
			<div>
				<span>Integridad<i class="fa fa-check-circle-o"></i></span>
				<p>Desde el primer día, nuestra meta ha sido mantener una relación estrecha y de confianza con nuestros clientes con un comportamiento profesional y ético.</p>
			</div>
		</div>
	</div>
</div>