<div id="contact">
	<div class="intro">
		<h4>TRABAJEMOS JUNTOS</h4>
	</div>
	<div class="group">
		<div class="form">
			<p>Escribanos y alguien de nuestro equipo se pondrá en contacto.</p>
			<div class="input name">
				<span>Nombre<span>*</span></span>
				<input type="text"/>
				<span>Requerimos su nombre.</span>
			</div>
			<div class="input halve company">
				<span>Empresa</span>
				<input type="text"/>
			</div>
			<div class="input halve mail">
				<span>Email<span>*</span></span>
				<input type="text"/>
				<span>Requerimos un Email válido.</span>
			</div>
			<div class="input message">
				<span>Su mensaje<span>*</span></span>
				<textarea></textarea>
				<span>Requerimos un mensaje.</span>
			</div>
			<div class="button">Enviar <i class="fa fa-spinner fa-pulse"></i></div>
		</div>
		<div>
			<div>
				<h5>Visitenos</h5>
				<span>Km 3.5 Autop Medellín</span>
				<span>Centro Empresarial Metropolitano</span>
				<span>Módulo 3, Bodega 11</span>
				<span>Cota, Colombia</span>
			</div>
			<div>
				<h5>Llamenos</h5>
				<span>(+57) 1 869 6600</span>
			</div>
			<div>
				<h5>Contactenos</h5>
				<span>servicio@sumitractor.com</span>
			</div>
		</div>
	</div>
</div>