<div id="home">
	<div class="title">
		<div class="cover"></div>
		<div class="text">
			<h1>INGENIERÍA DE MANTENIMIENTO</h1>
			<div class="separator"></div>
			<h4>Acortamos los tiempos muertos de sus activos y fortalecemos sus operaciones.</h4>
		</div>
	</div>
	<div class="services">
		<div class="intro">Brindamos soluciones integrales, para lograr la sostenibilidad, desarrollo y rentabilidad de su empresa.</div>
		<div class="separator"></div>
		<div class="container">
			<a href="#services/engines">
				<span class="animate"><img class="animate" src="images/services/1.jpg" /></span>
				<p>Reacondicionamiento de motores Diesel.</p>
				<span>Ver más</span>
			</a>
			<a href="#services/field">
				<span class="animate"><img class="animate" src="images/services/2.jpg" /></span>
				<p>Servicios especiales en campo y sector marino.</p>
				<span>Ver más</span>
			</a>
			<a href="#services/parts">
				<span class="animate"><img class="animate" src="images/services/3.jpg" /></span>
				<p>Repuestos homologados y OEM.</p>
				<span>Ver más</span>
			</a>
		</div>
	</div>
	<div class="story">
		<div>
			<div class="case group">
				<div>
					<h4>Casos de éxito</h4>
					<p><strong>Pioneer Energy Services</strong> ofrece servicios de perforación segura, eficaz y eficiente en los principales yacimientos terrestres de los Estados Unidos y Colombia. En Colombia tienen 8 RIGS operando.</p>
					<p>Desde hace 4 años <strong>IMOX (antes Sumitractor)</strong> fue seleccionado para realizar los reacondicionamientos de los motores diesel de los RIGS que operan en el país. A la fecha se han reacondicionado más de 30 motores de las series 3500, D399, 3400.</p>
				</div>
				<div class="image">
					<span><img src="images/case.jpg"/></span>
				</div>
			</div>
			<div class="numbers">
				<div>
					<p>
						Horas de trabajo de los moteres series 3500 reparados sin contratiempos
						<span>15,000</span>
					</p>
				</div>
				<div>
					<p>
						Ahorro en el reacondicionamiento al utilizar repuestos IPD o FP
						<span>25%</span>
					</p>
				</div>
				<div>
					<p>
						Ahorro en tiempo, frente a otras soluciones del mercado
						<span>40%</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="clients">
		<div>
			<h4>Nuestros clientes</h4>
			<div class="list animate-slow">
				<span class="next animate"><i class="fa fa-angle-right"></i></span>
				<span class="preview animate"><i class="fa fa-angle-left"></i></span>
				<a href="http://pioneeres.com/" target="_blank"><img src="images/clients/pioneer.png"/></a>
				<a href="http://www.cotemar.com/" target="_blank"><img src="images/clients/cotemar.png"/></a>
				<a href="http://soenergy.com/" target="_blank"><img src="images/clients/soenergy.png"/></a>
				<a href="http://tuscanydrilling.com/" target="_blank"><img src="images/clients/tuscany.jpg"/></a>
				<a href="http://www.nabors.com/" target="_blank"><img src="images/clients/nabors.jpg"/></a>
				<a href="http://www.hpinc.com/" target="_blank"><img src="images/clients/helmerich.jpg"/></a>
				<a href="http://www.petrex.com.pe/" target="_blank"><img src="images/clients/petrex.png"/></a>
			</div>
		</div>
	</div>
</div>