<div id ="services">
	<div class="engines">
		<div>
			<div class="intro group">
				<div>
					<p>ESPECIALISTAS EN EL REACONDICIONAMIENTO DE MOTORES DIESEL</p> 
				</div>
				<div>
					<span>
						Un motor reacondicionado cuesta hasta un
						<span>50%</span>
						menos que comprar un motor nuevo.
					</span>
				</div>
			</div>
		</div>
		<div class="steps group">
			<h4>Nuestra oferta comercial incluye, entre otras, los siguientes procesos:</h4>
			<div>
				<span>
					<span>Recepción: </span>Todo el proceso comienza con la recepción del equipo. Esta recepción se puede realizar en las instalaciones del cliente o en nuestro taller.
				</span>
				<span>
					<span>Inventario del equipo: </span>Se hace una inspección minuciosa de cada uno de los componentes, con los que se recibe el equipo con el fin de encontrar faltantes en el mismo, realizando el listado correspondiente para información del cliente.
				</span>
				<span>
					<span>Desarme: </span>Se realiza el desarme de todas las piezas y componentes del equipo, realizando la marcación y organización de las mismas.
				</span>
				<span>
					<span>Evaluación y diagnostico de partes: </span>Se hace la evaluación y el diagnostico de las piezas del equipo, con el fin de identificar posibles fallas y elementos que deben ser cambiados.
				</span>
				<span>
					<span>Prelavado de piezas: </span>Una vez desarmado el equipo y realizado el diagnostico de las piezas, se realiza un prelavado de las mismas, donde se identifica igualmente posibles fallas.
				</span>
				<span>
					<span>Listado de repuestos: </span>Se realiza un listado de las piezas y componentes que deben ser cambiados en el equipo y se realiza la solicitud al área correspondiente.
				</span>
				<span>
					<span>Lavado: </span>Se hace el lavado general del equipo, utilizando los elementos e insumos necesarios para garantizar que se encuentre en optimas condiciones. Los insumos utilizados son amigables con el ambiente y contamos con un sitio adecuado para realizar esta labor.
				</span>
				<span>
					<span>Prueba de componentes: </span>Se realizan las pruebas físicas y mecánicas requeridas, con el fin de verificar que los componentes cumplan con las especificaciones necesarias.
				</span>
			</div>
			<div>
				<span>
					<span>Arme del equipo: </span>Se realiza el arme del equipo, con las piezas previamente evaluadas y lavadas. Contando con repuestos y piezas optimas y nuevas para el correcto funcionamiento del equipo.
				</span>
				<span>
					<span>Ensamble: </span>Se realiza el ensamble general del motor en los soportes necesarios.
				</span>
				<span>
					<span>Ajustes: </span>Se hacen los ajustes necesarios que el equipo requiera, garantizando que se encuentra en correcto estado de funcionamiento.
				</span>
				<span>
					<span>Pintura del equipo: </span>Se realiza la pintura general del equipo, utilizando insumos de alta calidad para la conservación de la misma.
				</span>
				<span>
					<span>Calibraciones: </span>Se hacen las calibraciones que haya a lugar, utilizando herramientas de alta tecnología e innovación que permitan una calibración exacta y precisa del equipo.
				</span>
				<span>
					<span>Pruebas: </span>Se realizan las pruebas del equipo, verificando su funcionamiento y se realizan los ajustes necesarios para optimizar su rendimiento.
				</span>
				<span>
					<span>Entrega del equipo a conformidad: </span>Se realiza la entrega del equipo en las instalaciones del cliente a conformidad del mismo, indicando las recomendaciones que deben tener en cuenta para el manejo del mismo.
				</span>
			</div>
		</div>
	</div>
	<div class="field">
		<div>
			<h4>Servicios especiales en campo y al sector marino.</h4>
			<div>
				Ofrecemos servicios especiales de mantenimiento en las instalaciones de su empresa. Estas pueden ser en la ciudad o hasta en los pozos. Nuestra oferta comercial incluye, entre otras cosas, los siguientes aspectos:
			</div>
			<div class="group">
				<div>
					<p>Mantenimientos correctivos en el sitio.</p>
				</div>
				<div>
					<p class="border">Reparaciones totales en las instalaciones del cliente cuando se amerite.</p>
				</div>
				<div>
					<p class="border">Traslado de nuestros técnicos al sitio del servicio en nuestros vehículos.</p>
				</div>
				<div>
					<p class="border">Basta experiencia en reacondicionamientos de la serie 3500.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="parts">
		<div>
			<h4>Repuestos homologados y OEM</h4>
			<div class="sections group">
				<div>
					<h5>Confiabilidad</h5>
					<p>Los más de 35 ańos de experiencia de <strong>IMOX (antes Sumitractor)</strong>, le asegura a nuestros clientes el respaldo de repuestos confiables de diversas marcas, modelos y series para motores diesel. Nuestros procesos de importación regular y de emergencia están diseñados para ofrecer a nuestros clientes entregas rápidas y precisas.</p>
				</div>
				<div>
					<h5>Calidad</h5>
					<p>Los productos que ofrecemos deben superar las expectativas de nuestros clientes; por esta razón, adicional al suministro de piezas de recambio OEM, escogimos a <strong>IPD</strong> y a <strong>FP Diesel</strong> como nuestros proveedores. Estas son reconocidas empresas estadounidenses con más de 55 años en el mercado, y más alla de contar con diferentes certificaciones internacionales, estas empresas realizan pruebas en sus propios laboratorios para garantizar la confiabildad de sus productos.
				</div>
				<div>
					<h5>Innovación</h5>
					<p><strong>IPD</strong> y <strong>FP Diesel</strong> son dueñas de numerosas patentes para sus productos y algunas otras en proceso de aprobación. Esto demuestra su vocación por la investigación y desarrollo de mejoras en la calidad y confiabilidad, de las piezas desarrolladas por los fabricantes originales.
				</div>
				<div>
					<h5>Diversidad</h5>
					<p>
						Las marcas que distribuimos, nos permiten tener disponibilidad en tiempos adecuados de gran variedad de partes. Contamos con partes y piezas para diferentes tipos de motores y diferentes tipos de fabricantes.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="guarantee">
		<div class="group">
			<h4>Garantía</h4>
			<div>
				Ofrecemos garantía sobre los reacondicionamiento de los motores que cubre cualquier desperfecto o mal funcionamiento del mismo. Esta garantía está respaldada por una póliza de seguro. Nuestro compromiso es garantizar la fiabilidad de los equipos de nuestros clientes que reparamos y reacondicionamos.
			</div>
			<div>
				<span>
					Contamos con más de
					<span>450,000</span>
					horas en motores de la serie 3512 reacondicionados por IMOX.
				</span>
			</div>
		</div>
	</div>
</div>